<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Create recipe</title>
</head>
<body>
	<h1>Create a recipe</h1>

	<input type="text" placeholder="Recipe Name" name="recipeName" class="recipeName">
	<button class="submit">Submit</button>

	<input type="text" placeholder="Ingredient" name="ingredient" class="ingredientInput">
	<button class="addIngredient ingredient">Add Ingredient</button>
	<input type="text" placeholder="Step" name="step" class="stepInput">
	<button class="addStep step">Add Step</button>

	<h2>Ingredients</h2>
	<ul class="ingredientsList">
	</ul>

	<h2>Steps</h2>
	<ul class="stepsList">
	</ul>

	<script src='js/main.js'></script>
</body>
</html>