<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Recipe App</title>
</head>
<body>
	<header>
		<h1>My Recipes</h1>
		<a class="logout btn" href="/logout">Logout</a>
	</header>
	<ul class="recipes">
	<% for(const recipe of recipeList) {%>
		<li class="recipe" data-id="<%=recipe._id%>">
			<a href="/myRecipes/viewRecipe/<%=recipe._id%>" class="recipeName"><%= recipe.name %></h3>
			<a class="editRecipe btn" href="/createEditRecipe/<%=recipe.id%>">Edit</a>
			<button class="deleteRecipe btn">Delete</button>
		</li>
	<% } %>
	</ul>

	<div class="createDiv">
		<a class="create btn" href="/createEditRecipe">Create new recipe</a>
	</div>


	<script src="js/main.js"></script>
</body>

</html>