@font-face {
	font-family: 'Caveat';
	src: url(fonts/Caveat/static/Caveat-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Sarabun';
	src: url(fonts/Sarabun/Sarabun-Regular.ttf);
	font-style: normal;
	font-weight: 400;
} 

body {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.73);
	font-family: 'Sarabun', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: linear-gradient(45deg, rgba(242, 239, 197, 0.54), white);
	background-attachment: fixed;
	margin-top: 20px;
}

input {
	font-family: 'Sarabun', sans-serif;
	width: 30%;
	height: 30px;
	padding-left: 10px;
}

header {
	flex-basis: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Caveat', cursive;
	font-size: 60px;
	flex-basis: 76%;
	margin: 0% 12%;
	text-align: center;
	
}

header {
	padding-bottom: 1%;
}

header:after {
	content: '';
	display: block;
	width: 75%;
	margin: 1em auto 0;
	border-bottom: rgba(0, 0, 0, 0.73) solid 2px;
}

.singleLine {
	font-size: 30px;
	text-align: center;
	flex-basis: 100%;
	margin-bottom: 3%;
}

form {
	flex-basis: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
	gap: 10px;
}

.icon {
	font-size: 25px;
}

li > .recipeName {
	flex-basis: 100%;
	text-align: center;
}

li.recipe {
	margin-bottom: 50px;
}

.btn {
	width: 100px;
	height: 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border: rgba(0, 0, 0, 0.73) 2px solid;
	border-radius: 10px;
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn:hover, .fa-square-plus:hover {
	background-position: right center;
}

a.btn {
	font-size: 14px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header.icon, .username {
	position: absolute;
	top: 5%;
}

.logout {
	right: 5%;
}

.submit.btn, .deleteFromView.btn {
	height: 49px;
}

ul, ol {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

ul.recipes {
	justify-content: flex-start
}

li {
	flex-basis: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.createDiv {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}

a.recipeName, a.recipeName:visited, a.recipeName:active {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.73);
	font-size: 25px;
}

.gradientWord, a.recipeName:hover, .likes:hover, .fa-square-plus {
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
	background-size: 200%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.gradientWord {
	font-family: 'Caveat', cursive;
}

.createEditBtns {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

input.recipeName {
	flex-basis: 40%;
	margin: 0 30%;
}

ul.ingredientsList, ol.stepsList {
	flex-basis: 50%;
	text-align: center;
	margin: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

ul.ingredientsList > li, ol.stepsList > li {
	flex-basis: 100%;
	display: flex;
	gap: 10px;
	margin-top: 5px;
}

ul.recipes, li.recipe {
	align-items: flex-start;
}

div.listHeaders {
	display: flex;
	justify-content: center;
	flex-basis: 100%;
	margin-top: 30px;
}

div.listHeaders > h2 {
	flex-basis: 50%;
	text-align: center;
}

.ingredientInputDiv, .stepInputDiv {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.ingredientInputDiv > input, .stepInputDiv > input {
	flex-basis: 60%;
}

ul.viewList, ol.viewList {
	flex-basis: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

ol.viewList {
	list-style-type: number;
}

.viewList > h4 {
	flex-basis: 50%;
	margin: 0, 25%, 15px, 25%;
	text-align: center;
	padding: 6px 0;
	font-size: 25px;
	border-bottom: rgba(0, 0, 0, 0.73) solid 1px;
}

.commentsList > h4 {
	font-size: 25px;
}

ol.viewList > li, ul.viewList > li {
	text-align: center;
	margin-top: 20px;
	flex-basis: 51%;
}

ol.viewList > li {
	display: list-item;
}

.viewHeader > .editRecipe {
	left: 5%;
}

.viewHeader > .deleteFromView {
	left: 7.5%;
}

.likes {
	flex-basis: 100%;
	text-align: center;
	margin-top: 10px;
}

.likes:hover, .icon:hover {
	cursor: pointer;
}

.alert {
	margin-bottom: 3%;
	flex-basis: 100%;
	text-align: center;
	color: red;
}

.hidden {
	display: none;
}

.likesList {
	margin-top: 10px;
	margin-bottom: 0;
}

a.icon, a.commentLink {
	color: inherit;
	text-decoration: none;
}

.likeUser {
	flex-basis: 100%;
}

.clicked {
	background-image: linear-gradient(rgba(238, 56, 5, 1), rgba(255, 247, 13, 1));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.username {
	left: 5%; 
}

.fa-square-plus {
	font-size: 65px;
	transition: 0.5s;
}

.fa-share-from-square {
	left: 5%;
}

.exitEdit {
	left: 7.5%;
}

.myRecipes.icon {
	right: 7.5%;
}

.feed.icon {
	right: 7.5%;
}

span.byline, .createdTimestamp {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.55);
}

.createdTimestamp {
	flex-basis: 100%;
	text-align: center;
	margin: 5px 0 10px 0;
}

h1 > .byline, h1 > .createdTimestamp {
	font-size: 40px;
}

section.comments {
	flex-basis: 66%;
	margin: 5px 17%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border:rgba(0, 0, 0, 0.73) 2px solid;
	padding: 2% 5%;
	border-radius: 10px;
}

ul.commentsList > h4 {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 10px;
}

li.comment {
	flex-basis: 100%;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top:rgba(0, 0, 0, 0.73) 1px dashed;
}

.commentByline, .commentText {
	padding: 1px 0;
	flex-basis: 100%;
}

.commentText {
	font-size: 17px;
}

.commentByline {
	font-size: 14px;
	color:rgba(0, 0, 0, 0.55)
}

.commentInfo {
	flex-basis: 88%;
	display: flex;
	flex-wrap: wrap;
}

.commentIcons > * {
	font-size: 14px;
}

div.createComment {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

input.comment {
	flex-basis: 75%;
}

div.commentIcons {
	display: flex;
	gap: 4px;
	align-items: baseline;
}

